@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$orange: #ff5055;
$tf: #1c2b54;
$custom-colors: (
    "orange": $orange,
    "tf": $tf,
);
//cambiar el tamaño de las columnas
$theme-colors: map-merge($theme-colors, $custom-colors);
$grid-columns: 13;
@import "../node_modules/bootstrap/scss/bootstrap";
