header {
    background-image: url(/sprites/onepice-header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 15vh;
    position: relative;
    z-index: 1;
}

.titleContainer h2 {
    margin: 0;
}
.titleContainer {
    position: absolute;
    color: #ff5055;
    z-index: 2;
    top: 15%;
    left: 13%;
}

.titleContainer .logo {
    width: 35vw;
    object-fit: contain;
    text-align: center;
}
main img {
    width: 70vw;
    margin: 0 auto;
}
.sub {
    background-color: #377292;
    padding: 3%;
}
.entrada {
    display: flex;
    flex-flow: column wrap;
}

.entrada input {
    border-radius: 2px;
    border: 1px solid rgb(181, 189, 196);
    height: 1.5rem;
    padding: 0.5rem;
    color: rgb(8, 9, 10);
}
.entrada input:focus {
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
}
button {
    margin-top: 1rem;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

button:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.cards {
    background-color: #d58083;
    padding: 1rem 0;
}

.card-resumen {
    padding: 0 0.5rem;
    margin: 3rem 0.7rem;
}

.reverse {
    flex-direction: row-reverse;
}
.card-resumen img {
    width: 90vw;
}

.card-resumen h4,
.card-resumen p {
    margin: 0.5rem 0;
}

@media (min-width: 768px) and (max-width: 992px) {
    header {
        height: 19vh;
    }
    .entrada input {
        height: 3.5vw;
    }
    .card-resumen {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    .card-resumen img {
        width: 17vw;
        transform: rotate(-7deg);
    }
    .reverse img {
        transform: rotate(7deg);
    }
    .redes img {
        width: 4vw;
    }
}
@media (min-width: 993px) {
    header {
        height: 50vh;
    }
    .titleContainer {
        margin-top: 5%;
        margin-left: 4%;
    }
    .titleContainer .logo {
        width: 20vw;
    }
    .card-resumen {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 0 15vw;
    }
    .card-resumen img {
        width: 10vw;
        transform: rotate(-7deg);
    }
    .reverse img {
        transform: rotate(7deg);
    }
    .sub {
        padding: 3% 15vw;
    }
    .entrada input {
        height: 2vw;
    }
    button {
        font-size: 1.1rem;
    }
}
